<div class="date-picker-header">
  <input type="date" (click)="selectFirstDate()" [value]="firstDate | date: 'yyyy-MM-dd'" />
  <input type="date" (click)="selectSecondDate()" [value]="secondDate | date: 'yyyy-MM-dd'" />
  <button type="button" (click)="close()">X</button>
</div>
<div class="month-container">
  <button type="button" (click)="previous()">P</button>
  <app-calendar-month [date]="currentMonth">
    <app-calendar-day-low-fare class="day" *appCalendarDay="let date" [day]="date" [selectedDates]="selectedDates" (click)="selectDay(date)"></app-calendar-day-low-fare>
  </app-calendar-month>
  <app-calendar-month [date]="nextMonth">
    <app-calendar-day-low-fare class="day" *appCalendarDay="let date" [day]="date" [selectedDates]="selectedDates" (click)="selectDay(date)"></app-calendar-day-low-fare>
  </app-calendar-month>
  <button type="button" (click)="next()">N</button>
  <div>
    <div class="date-picker-footer">
      <button type="button" (click)="reset()">reset</button>
      <button type="button" (click)="done()">done</button>
    </div>
  </div>
</div>