.week {
    display: flex;
    flex-direction: row;
}

.weeek:last-child {
    justify-content: flex-start;
}

.week:first-child {
    justify-content: flex-end;
}

.month {
    width: 280px;
    display: inline-flex;
    flex-direction: column;
}

