<div class="date-picker-header">
  <mat-form-field appearance="outline">
    <mat-label>Depart date</mat-label>
    <input matInput type="text" (click)="selectFirstDate()" [formControl]="departureFormControl" [errorStateMatcher]="matcher"/>
    <mat-icon *ngIf="departureFormControl.valid && firstDate" class="date-selected" matSuffix>check_circle</mat-icon>
    <mat-icon *ngIf="departureFormControl.invalid" class="bad-date-selected" matSuffix>warning</mat-icon>
    <mat-error>Select an available date</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" *ngIf="_selectionType === 'RoundTrip'">
    <mat-label>Return date</mat-label>
    <input matInput type="text" (click)="selectSecondDate()" [formControl]="arrivalFormControl" [errorStateMatcher]="matcher"/>
    <mat-icon *ngIf="arrivalFormControl.valid && secondDate" class="date-selected" matSuffix >check_circle</mat-icon>
    <mat-icon *ngIf="arrivalFormControl.invalid" class="bad-date-selected" matSuffix>warning</mat-icon>
    <mat-error *ngIf="arrivalFormControl.invalid">Select an available date</mat-error>
  </mat-form-field>
  <div color="primary" type="button" class="exit-button mat-elevation-z5" (click)="close()">
    <mat-icon>close</mat-icon>
  </div>
</div>
<div class="month-container">
  <div class="month-container-controls">
    <button mat-button type="button" (click)="previous()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-button type="button" (click)="next()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
  <div class="month-container-months">
    <app-calendar-month [date]="currentMonth" [weekdayFormat]="'Narrow'">
      <app-calendar-day-low-fare class="day" *appCalendarDay="let date" [day]="date" [selectedDates]="selectedDates" (click)="selectDay(date)"></app-calendar-day-low-fare>
    </app-calendar-month>
    <app-calendar-month [date]="nextMonth" [weekdayFormat]="'Narrow'">
      <app-calendar-day-low-fare class="day" *appCalendarDay="let date" [day]="date" [selectedDates]="selectedDates" (click)="selectDay(date)"></app-calendar-day-low-fare>
    </app-calendar-month>
  </div>
</div>
<div class="date-picker-footer">
  <button mat-button type="button" (click)="reset()">reset</button>
  <button mat-raised-button type="button" color="disabled" (click)="done()">done</button>
</div>